## Курсовой проект по курсу "Машинное обучение в бизнесе"

### Проверка работоспособности и качества пайплайна

In [1]:
import pandas as pd
import dill
import warnings
import numpy as np
from sklearn.metrics import f1_score, roc_auc_score, precision_score, precision_recall_curve, log_loss

warnings.filterwarnings('ignore')
dill._dill._reverse_typemap['ClassType'] = type

In [2]:
X_test = pd.read_csv('X_test.csv')
y_test = pd.read_csv('y_test.csv')
display(X_test.shape,y_test.shape)

(61, 6)

(61, 1)

In [3]:
X_test.head()

   age  sex  cp  exng  trtbps  thalachh
0   70    1   0     1     145       125
1   64    1   3     0     170       155
2   59    1   3     0     170       159
3   60    1   0     1     125       141
4   62    1   2     0     130       146

In [4]:
y_test.head()

   target
0       0
1       1
2       0
3       0
4       1

In [5]:
with open('models/cb_pipeline.dill', 'rb') as in_strm:
    pipeline = dill.load(in_strm)

In [6]:
predictions = pipeline.predict_proba(X_test)
pd.DataFrame({'preds': predictions[:, 1]}).to_csv('test_predictions.csv', index=None)

In [7]:
precision, recall, thresholds = precision_recall_curve(y_test, predictions[:, 1])
fscore = (2 * precision * recall) / (precision + recall)
ix = np.argmax(fscore)
    
print('Classification results:')
f1 = fscore[ix]
print('f1: %.2f%%' % (f1 * 100.0)) 
roc = roc_auc_score(y_test, predictions[:, 1])
print('roc: %.2f%%' % (roc * 100.0)) 
rec = recall[ix]
print('recall: %.2f%%' % (rec * 100.0)) 
prc = precision[ix]
print('precision: %.2f%%' % (prc * 100.0)) 
log = log_loss(y_test, predictions[:, 1])
print(f'log_loss: {log}')

Classification results:
f1: 84.38%
roc: 87.25%
recall: 79.41%
precision: 90.00%
log_loss: 0.4519196626283967